In [1]:
import pandas as pd
import random

In [2]:
random.seed(20191024)

In [3]:
sentiment140 = pd.read_csv('../data/sentiment_140.csv', encoding='ISO-8859-1', header=None)
sentiment140.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [4]:
# Drop unnecessary columns and rename the ones we need
sentiment140.drop([1,2,3,4], axis=1, inplace=True)
sentiment140.columns=['sentiment', 'text']

In [5]:
# Right now, sentiment ranges fro 0 - 4, where 2 is neutral, >2 is positive, and <2 is negative.
# Let's convert this to pos, neg, or neutral
sentiment140['sentiment'] = [0 if sent < 2 else 1 if sent == 2 else 2 for sent in sentiment140['sentiment']]

In [6]:
# take a sample of 10000 so we can store on github
sentiment140 = sentiment140.sample(10000)
sentiment140.to_csv('../data/sentiment140_clean.csv', index=False)